{
  "presets": ["babel-preset-expo", "flow", "react-native"],
  "plugins": [
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src"
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        ["babel-plugin-root-import", {
          "rootPathSuffix": "src"
        }],
        "transform-react-jsx-source",
        "transform-inline-environment-variables"
      ]
    }
  }
}
